<h1>Erha characters</h1>


<form action="/search/" method="GET">
    <input type="text" type="search" name="s" placeholder="Character's name">
    <button type="submit">Search</button>
</form>

<ol>
    {% for i in chars %}

    <li>
        <img src="{{ i.photo.url }}" alt="" width="250" height="300">
        <p>Name: {{ i.name }}</p>
        <p>Was published: {{ i.created_at }}</p>
        <p><a href="/chars_list/{{ i.id }}/">More</a></p>
    </li>
    {% endfor %}
</ol>


<div class="pagination">
        <span class="step-links">
            {% if part.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ part.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ part.number }} out of {{ part.paginator.num_pages }}.
            </span>

            {% if part.has_next %}
                <a href="?page={{ part.next_page_number }}">Next</a>
                <a href="?page={{ part.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>

<p>Кол-во просмотров поста - {{ char_id.views }}</p>

<h2>Chapter 1</h2>
<ul>
    {% for n in novel %}
    <li>
        <p>{{ n.title }}</p>
        <p>{{ n.passage }}</p>
        <p>{{ n.created_at }}</p>
    </li>
    {% endfor %}
</ul>


